@use '../../style' as s;

.page{
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 32px;
}

.header{
	display: flex;
	justify-content: space-between;
}

.button{
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover{
		opacity: 0.7;
	}
}

.title{
	font-size: 24px;
	color: rgba(18, 18, 18, 1);
	font-weight: 700;
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	

	&-button{
		font-size: 16px;
		font-weight: 500;
		color: rgba(136, 136, 136, 1);
		border-bottom: 1px solid rgba(136, 136, 136, 1);
		
		padding: 0 44px 12px 44px;

	}

}
.viewed{
	color: rgba(18, 18, 18, 1);
	border-bottom: 2px solid rgba(18, 18, 18, 1);
}

.communiti{
	display: flex;
	flex-direction: column;
	gap: 16px;

	&-header{
		font-size: 18px;
		font-weight: 500;
		line-height: 1.4em;
		color: rgba(18, 18, 18, 1);
	}

	&-info{
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4em;
		color: rgba(136, 136, 136, 1);

	}
}
