{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24" height="24" src="/svg/arrow-back.svg">
        </button>
        <button class="button">
            <img width="24" height="24" src="/img/photo.png">
        </button>     

    </header> --}}

	{{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <div class="post-list">
        <div class="post button">
            <div class="post-header">
                <div class="post-category-list">
                    <div class="post-category post-category--1">Важливо</div>
                    <div class="post-category post-category--2">Нове</div>
                </div>
                <span class="post-date">25.01</span>
            </div>
            <p class="post-info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>

        <div class="post-list">
            <div class="post button">
                <div class="post-header">
                    <div class="post-category-list">
                    <div class="post-category post-category--1">Важливо</div>
                    <div class="post-category post-category--2">Нове</div>
                    </div>
                    <span class="post-date">15.01</span>
                </div>
            </div>

            <p class="post-info">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.</p>
        </div>




        

    </div> --}}
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}